<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="sql" connectionString="Server=LAPTOP-AJ84S247; Integrated security=true;Database=Sanitaria" />
  <add name="Sanitaria.Properties.Settings.SanitariaConnectionString"
   connectionString="Data Source=LAPTOP-AJ84S247;Initial Catalog=Sanitaria;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>